mat-form-field,
textarea {
  width: 100%;
}

#reservado {
  background-color: rgb(0, 209, 0);
  color: white;
  margin-right: 10px;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
